<footer class="footer">
  <div class="footer__container">
    <div class="footer__left">
      <div class="footer__logo">
        <img src="icons/favicon.svg" alt="Logo" class="footer__logo-icon" />
        <span class="footer__logo-text">Christian<br />Wiemann</span>
      </div>
      <div class="footer__info">
        <span>{{ translation.translate('footer.role') }}</span>
        <span>{{ translation.translate('footer.location') }}</span>
      </div>
    </div>

    <div class="footer__center">
      <span class="footer__copy">{{ translation.translate('footer.copyright') }}</span>
    </div>

    <div class="footer__scroll">
      <a class="footer__scroll-oval" href="#top" aria-label="Back to top">↑</a>
      <div class="footer__scroll-line"></div>
    </div>

    <div class="footer__links">
      <a class="footer__link" href="https://github.com/CWhymann" target="_blank">{{
        translation.translate('footer.github')
      }}</a>
      <a class="footer__link" href="https://www.linkedin.com/in/cthehowman/" target="_blank">{{
        translation.translate('footer.linkedin')
      }}</a>
      <a class="footer__link" href="mailto:cwiemann39@gmail.com">{{
        translation.translate('footer.email')
      }}</a>
      <a class="footer__link" routerLink="/legal-notice" routerLinkActive="footer__link--active">{{
        translation.translate('footer.legalNotice')
      }}</a>
    </div>
  </div>
</footer>
