// Fira Code
@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300;
  src: url('../../assets/fonts/fira-code-v27-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/fira-code-v27-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  src: url('../../assets/fonts/fira-code-v27-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  src: url('../../assets/fonts/fira-code-v27-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/fira-code-v27-latin-700.woff2') format('woff2');
}

// Karla
@font-face {
  font-display: swap;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/karla-v33-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  src: url('../../assets/fonts/karla-v33-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 600;
  src: url('../../assets/fonts/karla-v33-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/karla-v33-latin-700.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  src: url('../../assets/fonts/karla-v33-latin-800.woff2') format('woff2');
}
